---
import { TWITTER_SITE } from "@/lib/constants";

interface Props {
  title?: string;
  description?: string;
  url?: string;
  image?: string;
  keywords?: string[];
}

const {
  title = "rohid.dev",
  description = "",
  image,
  url,
  keywords,
} = Astro.props;

const ogImage = new URL(`${Astro.url.origin}/api/og.png`);
ogImage.searchParams.set("title", title);

const finalUrl = url ?? Astro.url.href;
const finalImage = image ?? ogImage.href;
---

<Fragment slot="head">
  <title>{title}</title>

  <meta name="description" content={description} />
  {keywords && <meta name="keywords" content={keywords.join(", ")} />}
  <meta name="author" content="Rohid" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content={TWITTER_SITE} />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={finalImage} />

  <!-- OG -->
  <meta property="og:type" content="article" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={finalUrl} />
  <meta property="og:image" content={finalImage} />
</Fragment>
